# Ignora arquivos de estado local gerados pelo Terraform
*.tfstate
*.tfstate.*
*.tfstate.backup

# Ignora pastas de cache e plugins de provedores
.terraform/
.terraform.lock.hcl

# Ignora arquivos de variáveis que possam conter informações sensíveis
*.tfvars.json

# Se houver dados confidenciais no tfvars local:
# terraform.tfvars